@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}
body {
    @apply bg-gradient-to-tr from-blue-400 via-purple-400 to-pink-400;
}
.glass {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
}